.website__url-heading {
  max-width: 456px;
  max-height: 12px;
  font-size: 12px;
  line-height: 20.4px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #ffff;
  margin: 0 0 12px;
}
@media screen and (max-width: 1010px) {
  .website__url-heading {
    line-height: 12px;
  }
}
@media screen and (max-width: 350px) {
  .website__url-heading {
    margin: 0 0 12px 16px;
  }
}
