.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  padding: 56px 148px 0;
  color: #fff;
}

@media screen and (max-width: 1099px) {
  .lead {
    max-width: 928px;
    padding: 48px 48px 0;
  }
}
@media screen and (max-width: 800px) {
  .lead {
    max-width: 768px;
    padding: 48px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .lead {
    max-width: 665px;
  }
}
@media screen and (max-width: 664px) {
  .lead {
    max-width: 470px;
  }
}
@media screen and (max-width: 425px) {
  .lead {
    max-width: 320px;
  }
}
