.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  /* max-height: 429px; */
  padding: 92px 0 0 148px;
  margin: 0;
  color: #fff;
}
@media screen and (max-width: 1099px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}
@media screen and (max-width: 800px) {
  .intro {
    max-width: 720px;
    /* max-height: 429px; */
    padding: 88px 24px 0 24px;
  }
}
@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    /* max-height: 754px; */
    padding: 64px 16px 0 16px;
  }
}
