.place__link {
  max-width: 456px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.place__link:hover {
  transition: ease 1s;
  opacity: 0.8;
}
@media screen and (max-width: 510px) {
  .place__link {
    margin: 0 0 0px 16px;
  }
}
