.place {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300, 1fr)); */
  /* grid-template-columns: minmax(min-content, 440px) minmax(min-contene, 484px); */
  grid-template-columns: 45% 1fr;
  grid-template-areas:
    "title website"
    "images paragraphs";
  gap: 48px 40px;
  max-width: 984px;
  /* max-height: 660px; */
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1026px) {
  .place {
    gap: 48px 20px;
  }
}
@media screen and (max-width: 800px) {
  .place {
    gap: 48px 20px;
  }
}
@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "images"
      "paragraphs";
    gap: 32px;
  }
}
