.place__url-heading {
  max-width: 456px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  color: #aaaaaa;
  margin: 0 0 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .place__url-heading {
    line-height: 12px;
  }
}
@media screen and (max-width: 425px) {
  .place__url-heading {
    margin: 0 0 12px 16px;
  }
}
